body {
    background-color: #f8f9fa;
}
.card {
    width: 600px;
    border-radius: 8px;
}
.alert {
    padding-right: 40px;
}
.btn-close {
    background-color: green;
    border-radius: 50%;
    padding: 8px;
}
